h1 {
  font-size: 350%;
  text-align: center;
}

.total {
  margin: 1%;
  font-size: 150%;
}

.card {
  font-size: 750%;
}

button.card {
  background: none;
  border: none;
  cursor: pointer;
}

span.total {
  font-size: 450%;
}

#endscreen.not-visible {
  display: none;
}

#endscreen.visible {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 15px;
}

#hands {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#hands div {
  padding: 5%;
  background-color: #EDEDED;
  color: #000;
  border-radius: 15px;
  min-height: 20vh;
}

#board {
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

button {
  width: auto;
  font-size: 200%;
}

#end-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  position: fixed;
  color: #FAFAFA;
  top: 25vh;
  left: 25vw;
  width: 50vw;
  height: 50vh;
  background-color: rgba(25, 25, 25, .55);
}

#board * {
  text-align: center;
}