<!doctype html>
<html lang="en" ng-app="blackjack">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="app.css" />
    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="BlackjackController">
    <h1>💵 Blackjack 💵</h1>
    <h2>You: {{wins}}, Dealer: {{losses}}</h2>
    <section id='endscreen' class={{endscreenClass}}>
      <article id='end-details'>
        <h2>You {{victory ? 'win!' : 'lose...'}}</h2>
        <span>Your hand's value: {{handValue}}</span>
        <span>Dealer's hand value: {{dealerValue}}</span>
        <button ng-click='reset()'>Restart</button>
      </article>
    </section>
    <section id='board'>
      <button ng-click='draw()'>Hit me</button>
      <button ng-click='end()'>Stay</button>
      <section id='hands'>
        <div>
          <span class='total'>Your hand, total: {{handValue}}</span>
          <section class='hand'>
            <span class='card' ng-repeat='card in hand'>
              {{card.face}}
            </span>
          </section>
        </div>
        <div>
          <span class='total'>Dealer hand</span>
          <section class='hand'>
            <span class='card' ng-repeat='card in dealerHand'>
              {{card.hidden ? deck.back : card.face}}
            </span>
          </section>
        </div>
      </div>
    </section>

  </body>
</html>